.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2a3c4a;
  color: #fff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
  box-shadow: #9992 0 1px 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo-img {
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  border-radius: 20px;
  background: linear-gradient(145deg, #263643, #2d404f);
  box-shadow:  6px 6px 17px #1f2c36,
               -6px -6px 17px #354c5e;
}

.navbar-title {
  font-size: 1.5rem;
  color: #f5f0e1;
  font-weight:800
  
}

.navbar-title span {
  color: #ff7f5e;
}

.search-container {
  display: flex;
  position: relative;
  width: 65%;
  
}

.search-icon {
  display: flex;
  z-index: 1000;
  scale: 75%;
  background-color: transparent;
  border-style: none;
}

.search-icon:hover {
  cursor: pointer;
}

.search-input {
  display: flex;
  z-index: 1000;
  width: 90%;
  /* max-width: 500px; */
  padding: 10px;
  margin-left: 20px;
  margin-right: -58px;
  border-radius: 5px;
  border: 1px solid #d1a15c;
  border-radius: 3rem;
  background-image: url('./assets/search-icon.png');
  background: linear-gradient(145deg, #2d404f, #263643);
  box-shadow:  6px 6px 17px #1f2c36,
               -6px -6px 17px #354c5e;
  
  
  padding: 15px;
  font-size: 16px;
  color: #d1a15c;
  outline: none;
}

.search-input:hover {
  background: #2a3c4a;
  background: linear-gradient(145deg, #263643, #2d404f);
  box-shadow:  6px 6px 17px #1f2c36,
               -6px -6px 17px #354c5e;
  transition: .3s;
  text-decoration: none;
  color: #d1a15c;
}

.search-input:active {
  background: #2a3c4a;
  box-shadow: inset 6px 6px 17px #1f2c36,
              inset -6px -6px 17px #354c5e;
  border-color: #d1a15c;
}

.cart-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.profile-button {
  background: none;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  height: 40px;  
  margin-right: 15px;
  border-radius: 50%;
  background: linear-gradient(145deg, #263643, #2d404f);
  box-shadow:  6px 6px 17px #1f2c36,
             -6px -6px 17px #354c5e;
}
.profile-button:hover {
  transform: scale(110%);
  transition: 0.3s ease;
  background: #2a3c4a;
  box-shadow:  6px 6px 17px #1f2c36,
               -6px -6px 17px #354c5e;
}

.profile-button:active {
  transform: scale(98%);
  transition: 0.3s ease;
  background: #2a3c4a;
  box-shadow: inset 6px 6px 17px #1f2c36,
            inset -6px -6px 17px #354c5e;
}

.navbar .profile-photo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
}

.cart-icon {
  height: 24px;
  background: linear-gradient(145deg, #263643, #2d404f);
  box-shadow:  6px 6px 17px #1f2c36,
             -6px -6px 17px #354c5e;
}

.cart-icon:hover {
  transform: scale(110%);
  transition: 0.3s ease;
  background: linear-gradient(145deg, #2d404f, #263643);
  box-shadow:  6px 6px 17px #1f2c36,
             -6px -6px 17px #354c5e;
}

.cart-icon:active {
  transform: scale(110%);
  transition: 0.3s ease;
  background: linear-gradient(145deg, #2d404f, #263643);
  box-shadow:  6px 6px 17px #1f2c36,
             -6px -6px 17px #354c5e;
}

.cart-button {
  height: 40px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  text-align: center;
}

.cart-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #333;
  padding: 10px;
  margin-top: 10px;
  min-width: 25rem;
  max-width: 430px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: .75rem;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 15%;
}

.cart-item-details {
  flex-grow: 1;
  max-width: 99%;
  overflow: hidden;
}

.cart-item-details span:first-child {
  display: block;
  font-weight: bold;
  color: #FFB6A0;
  padding-left: 5px;
}

.cart-item-details span:last-child {
  color: #ccc;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bolder;
  border-top: 1px solid #554;
}

.checkout-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
