.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
  box-shadow: #222 0 1px 10px;
  border-radius: .5rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo-img {
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: #222 0 1px 5px;
}

.navbar-title {
  font-size: 1.5rem;
  color: #FFB6A0;
  font-weight: bolder;
  text-wrap: nowrap;
}

.search-container {
  display: flex;
  position: relative;
  width: 65%;
  margin-right: 10px;
  
}

.search-input {
  display: flex;
  width: 100%;
  /* max-width: 500px; */
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 5px solid #444;
  border-radius: 3rem;
  background-color: #333;
}

.search-input:hover {
  background-color: #222;
  transition: .3s;
}

.cart-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.profile-button {
  background: none;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  height: 40px;
}

.navbar .profile-photo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.cart-icon {
  height: 24px;
}

.cart-icon:hover {
  transform: scale(110%);
  transition: 0.3s ease;
}

.cart-button {
  height: 40px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  text-align: center;
}

.cart-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background-color: #333;
  padding: 10px;
  margin-top: 10px;
  min-width: 25rem;
  max-width: 430px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: .75rem;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 15%;
}

.cart-item-details {
  flex-grow: 1;
  max-width: 99%;
  overflow: hidden;
}

.cart-item-details span:first-child {
  display: block;
  font-weight: bold;
  color: #FFB6A0;
  padding-left: 5px;
}

.cart-item-details span:last-child {
  color: #ccc;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bolder;
  border-top: 1px solid #554;
}

.checkout-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
