.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
  box-shadow: #333 5px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo-img {
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
}

.navbar-title {
  font-size: 1.5rem;
  color: #FFB6A0;
  font-weight: bolder;
}

.cart-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.auth-button,
.list-button,
.logout-button {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  background: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  border-radius: .33rem;
}

.auth-button:hover,
.list-button:hover,
.logout-button:hover {
  color: white;
  background-color: #007bff;
}

.profile-button {
  background: none;
  border: none;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .profile-photo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.cart-icon {
  height: 24px;
}

.cart-icon:hover {
  transform: scale(110%);
  transition: 0.3s ease;
}

.cart-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.cart-count {
  position: absolute;
  top: -7px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 3rem;
  padding: 2.5px 5px;
  font-size: 12px;
  text-align: justify;
}

.cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  border: 1px solid #696969;
  padding: 10px;
  margin-top: 10px;
  width: 25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: .35rem;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 15%;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details span:first-child {
  display: block;
  font-weight: bold;
  color: #FFB6A0;
}

.cart-item-details span:last-child {
  color: #ccc;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  font-weight: bolder;
  border-top: 1px solid white;
}

.checkout-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
