.profile-content {
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%; /* Ensure it doesn't overflow the dropdown */
  max-height: 100%; /* Ensure it doesn't overflow the dropdown */
  overflow: auto;
  display: grid;
  gap: 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('../profile.jpg');
  background-size: cover;
  background-position: center;
}

.profile-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #FFB6A0;
}

.profile-info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #ccc;
}

.profile-buttons {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.profile-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
